[submodule "Source_TestApp/googletest"]
	path = Source_TestApp/googletest
	url = https://github.com/google/googletest.git
[submodule "Source_TestApp/PopJson"]
	path = Source_TestApp/PopJson
	url = https://github.com/NewChromantics/PopJsonCpp.git
