#include "./Apple.xcconfig"

//PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_NAME = PopMp4_TestApp
PRODUCT_BUNDLE_IDENTIFIER = com.newchromantics.popmp4_testapp


SDKROOT = macosx

ENABLE_HARDENED_RUNTIME = NO	//	currently doesn't like signing of framework vs app

//	enable sandbox so it can be used in mac app store
//ENABLE_APP_SANDBOX = YES
//CODE_SIGN_ENTITLEMENTS = Source_Macos/CRStreamer_Macos.entitlements


//	https://github.com/google/googletest/issues/2195
//	google test's global initialisers (from TEST()) throw in mac sandboxed mode (when launching from finder/open)
//	because it cannot get a result from getcwd(). It feels like there would be more problems than this...
GOOGLETEST_PREPROCESSORS=GTEST_HAS_FILE_SYSTEM=0
GOOGLETEST_INCLUDE="Source_TestApp/googletest/googletest/include"
GOOGLETEST_SRCINCLUDE="Source_TestApp/googletest/googletest/"




HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) $(GOOGLETEST_INCLUDE) $(GOOGLETEST_SRCINCLUDE)
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) $(inherited) TARGET_MACOS $(GOOGLETEST_PREPROCESSORS)


